In [726]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
# import itertools
import os
from collections import Counter
print(os.listdir("./"))

['[SF-DST] Movies IMBD v3.0.ipynb', 'data.csv']

In [727]:
data = pd.read_csv('./data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [728]:
def split(str):
    return str.strip().split('\n');
def select (ids, col='imdb_id'):
    return data[data[col].isin(ids)]
def get_ids (str):
    return list(map(lambda line: line[-9::], split(str)))
def add_profit (df):
    df.profit = (df.revenue - df.budget)
    return df
norm_c_name = [
    'warner',
    'universal',
    'paramount',
    'columbia',
    'fox',
    'disney',
    'lucasfilm',
    'jim henson',
    'four by two'
]
def norm_company_name(name):
    n = name.lower()
    comps = list(filter(lambda c_name: c_name in n, norm_c_name))
    if len(comps) > 0:
        return comps[0]
    return name

def norm_comps(comps):
    return list(map(norm_company_name, comps))

def get_data(df = data):
    df = df.copy()
    add_profit(df)
    df.genres = df.genres.str.split('|')
    df.cast = df.cast.str.split('|')
    df.production_companies = df.production_companies.str.split('|').apply(norm_comps)
    return df

def flatten(s):
    return s.apply(pd.Series).stack().reset_index(drop=True)

print(get_data())
print(data.info())
print(data.describe())
print(len(data))

imdb_id  popularity     budget     revenue  \
0     tt0369610   32.985763  150000000  1513528810
1     tt1392190   28.419936  150000000   378436354
2     tt2908446   13.112507  110000000   295238201
3     tt2488496   11.173104  200000000  2068178225
4     tt2820852    9.335014  190000000  1506249360
...         ...         ...        ...         ...
1885  tt0120903    0.182246   75000000   157299717
1886  tt0192255    0.123920   22000000    13555988
1887  tt0131704    0.104908   76000000    35134820
1888  tt0162983    0.031018   40000000    36037909
1889  tt0163676    0.015997   15000000     5217498

                            original_title  \
0                           Jurassic World
1                       Mad Max: Fury Road
2                                Insurgent
3             Star Wars: The Force Awakens
4                                Furious 7
...                                    ...
1885                                 X-Men
1886                    The Little Vampire
1887  The Adventures of Rocky & Bullwinkle
1888                            Hanging Up
1889                          The In Crowd

                                                   cast          director  \
0     [Chris Pratt, Bryce Dallas Howard, Irrfan Khan...   Colin Trevorrow
1     [Tom Hardy, Charlize Theron, Hugh Keays-Byrne,...     George Miller
2     [Shailene Woodley, Theo James, Kate Winslet, A...  Robert Schwentke
3     [Harrison Ford, Mark Hamill, Carrie Fisher, Ad...       J.J. Abrams
4     [Vin Diesel, Paul Walker, Jason Statham, Miche...         James Wan
...                                                 ...               ...
1885  [Patrick Stewart, Hugh Jackman, Ian McKellen, ...      Bryan Singer
1886  [Richard E. Grant, Jonathan Lipnicki, Jim Cart...          Uli Edel
1887  [Rene Russo, Jason Alexander, Piper Perabo, Ra...       Des McAnuff
1888  [Meg Ryan, Diane Keaton, Lisa Kudrow, Walter M...      Diane Keaton
1889  [Susan Ward, Lori Heuring, Matthew Settle, Nat...      Mary Lambert

                                                tagline  \
0                                     The park is open.
1                                    What a Lovely Day.
2                            One Choice Can Destroy You
3                         Every generation has a story.
4                                   Vengeance Hits Home
...                                                 ...
1885                                   Evolution Begins
1886  They're not just best friends, they're blood b...
1887            This summer it's not the same old bull.
1888                   Every family has a few hang-ups.
1889                       What would you do to get in?

                                               overview  runtime  \
0     Twenty-two years after the events of Jurassic ...      124
1     An apocalyptic story set in the furthest reach...      120
2     Beatrice Prior must confront her inner demons ...      119
3     Thirty years after defeating the Galactic Empi...      136
4     Deckard Shaw seeks revenge against Dominic Tor...      137
...                                                 ...      ...
1885  Two mutants, Rogue and Wolverine, come to a pr...      104
1886  Based on the popular books, the story tells of...       95
1887  Rocky and Bullwinkle have been living off the ...       88
1888  A trio of sisters bond over their ambivalence ...       94
1889  A mentally disturbed young woman takes a job a...      105

                                              genres  \
0     [Action, Adventure, Science Fiction, Thriller]
1     [Action, Adventure, Science Fiction, Thriller]
2             [Adventure, Science Fiction, Thriller]
3      [Action, Adventure, Science Fiction, Fantasy]
4                          [Action, Crime, Thriller]
...                                              ...
1885            [Adventure, Action, Science Fiction]
1886                       [Horror, Family, Foreign]
1887  [Adventure, Animation, Action, Comedy, Family]
1888                                 [Comedy, Drama]
1889                                      [Thriller]

                                   production_companies release_date  \
0     [universal, Amblin Entertainment, Legendary Pi...     6/9/2015
1     [Village Roadshow Pictures, Kennedy Miller Pro...    5/13/2015
2     [Summit Entertainment, Mandeville Films, Red W...    3/18/2015
3         [lucasfilm, Truenorth Productions, Bad Robot]   12/15/2015
4     [universal, Original Film, Media Rights Capita...     4/1/2015
...                                                 ...          ...
1885  [fox, Donners' Company, Bad Hat Harry Producti...    7/13/2000
1886                                  [New Line Cinema]   10/27/2000
1887  [universal, Capella International, KC Medien A...    6/30/2000
1888  [Laurence Mark Productions, columbia, Global E...    2/16/2000
1889                                           [warner]    7/19/2000

      vote_count  vote_average  release_year
0           5562           6.5          2015
1           6185           7.1          2015
2           2480           6.3          2015
3           5292           7.5          2015
4           2947           7.3          2015
...          ...           ...           ...
1885        2766           6.6          2000
1886          42           6.4          2000
1887          35           4.0          2000
1888          21           5.2          2000
1889          12           5.2          2000

[1890 rows x 16 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1890 entries, 0 to 1889
Data columns (total 16 columns):
imdb_id                 1890 non-null object
popularity              1890 non-null float64
budget                  1890 non-null int64
revenue                 1890 non-null int64
original_title          1890 non-null object
cast                    1890 non-null object
director                1890 non-null object
tagline                 1890 non-null object
overview                1890 non-null object
runtime                 1890 non-null int64
genres                  1890 non-null object
production_companies    1890 non-null object
release_date            1890 non-null object
vote_count              1890 non-null int64
vote_average            1890 non-null float64
release_year            1890 non-null int64
dtypes: float64(2), int64(5), object(9)
memory usage: 236.4+ KB
None
        popularity        budget       revenue      runtime   vote_count  \
count  1890.000000  1.890000e+03  1.890000e+03  1890.000000  1890.000000
mean      1.560611  5.450696e+07  1.552890e+08   109.653439   785.666667
std       1.849471  4.931705e+07  2.146386e+08    18.013641  1068.725880
min       0.010335  5.000000e+06  2.033165e+06    63.000000    10.000000
25%       0.643284  2.000000e+07  3.434007e+07    97.000000   164.000000
50%       1.065065  3.800000e+07  8.358664e+07   106.500000   389.000000
75%       1.804537  7.200000e+07  1.782136e+08   120.000000   937.750000
max      32.985763  4.250000e+08  2.781506e+09   214.000000  9767.000000

       vote_average  release_year
count   1890.000000   1890.000000
mean       6.140899   2007.861905
std        0.764584      4.467929
min        3.300000   2000.000000
25%        5.600000   2004.000000
50%        6.100000   2008.000000
75%        6.600000   2012.000000
max        8.100000   2015.000000
1890

# Предобработка датасета

In [729]:
answer_ls = [''] * 36 
# создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [730]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
ids = get_ids('''
The Dark Knight Rises tt1345836
Spider-Man 3 tt0413300
Avengers: Age of Ultron tt2395427
The Warrior's Way	tt1032751
Pirates of the Caribbean: On Stranger Tides tt1298650
''')

df = select(ids)
itm = df[df.budget == df.budget.max()]
print(itm.imdb_id)
answer_ls[0] = 4

491    tt1032751
Name: imdb_id, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [731]:
ids = get_ids('''
The Lord of the Rings: The Return of the King	tt0167260
Gods and Generals	tt0279111
King Kong	tt0360717
Pearl Harbor	tt0213149
Alexander	tt0346491
''')
df = select(ids)
print(df[df.runtime == df.runtime.max()].imdb_id)
answer_ls[1] = 2

1158    tt0279111
Name: imdb_id, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [732]:
ids = get_ids('''
Home on the Range	tt0299172
The Jungle Book 2	tt0283426
Winnie the Pooh	tt1449283
Corpse Bride	tt0121164
Hoodwinked!	tt0443536
''')
df = select(ids)
print(df[df.runtime == df.runtime.min()].imdb_id)
answer_ls[2] = 3

769    tt1449283
Name: imdb_id, dtype: object

# 4. Средняя длительность фильма?
Варианты ответов:

1. 115
2. 110
3. 105
4. 120
5. 100

In [733]:
print(data.runtime.mean())
answer_ls[3] = 2

109.65343915343915

# 5. Средняя длительность фильма по медиане?
Варианты ответов:

1. 106
2. 112
3. 101
4. 120
5. 115

In [734]:
print(data.runtime.median())
answer_ls[4] = 1

106.5

# 6. Какой самый прибыльный фильм?
Варианты ответов:

1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [735]:
ids = get_ids('''
The Avengers	tt0848228
Minions	tt2293640
Star Wars: The Force Awakens	tt2488496
Furious 7	tt2820852
Avatar	tt0499549
''')
df = select(ids)
add_profit(df)
it = df[df.profit == df.profit.max()]
print({ "id": it.imdb_id, "max": df.profit.max() })
answer_ls[5] = 5

{'id': 239    tt0499549
Name: imdb_id, dtype: object, 'max': 2544505847}

# 7. Какой фильм самый убыточный?
Варианты ответов:

1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [736]:
ids = get_ids('''
Supernova tt0134983
The Warrior's Way tt1032751
Flushed Away	tt0424095
The Adventures of Pluto Nash	tt0180052
The Lone Ranger	tt1210819
''')
df = select(ids)
add_profit(df)
it = df[df.profit == df.profit.min()]
print({ "id": it.imdb_id, "min": df.profit.min() })

answer_ls[6] = 2

{'id': 491    tt1032751
Name: imdb_id, dtype: object, 'min': -413912431}

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:

1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [737]:
df = data.copy()
add_profit(df)
profitable = df[df.profit > 0]
print(len(profitable))

answer_ls[7] = 1

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:

1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [738]:
ids = get_ids('''
Madagascar: Escape 2 Africa	tt0479952
Iron Man	tt0371746
Kung Fu Panda	tt0441773
The Dark Knight	tt0468569
Mamma Mia!	tt0795421
''')
df = select(ids)
add_profit(df)
it = df[df.profit == df.profit.max()]
print(it.imdb_id)

answer_ls[8] = 4

600    tt0468569
Name: imdb_id, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:

1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [739]:
ids = get_ids('''
Winter's Tale	tt1837709
Stolen	tt1656186
Broken City	tt1235522
Upside Down	tt1374992
The Lone Ranger	tt1210819
''')
df = select(ids)
add_profit(df)
it = df[df.profit == df.profit.min()]
print(it.imdb_id)

answer_ls[9] = 5

1246    tt1210819
Name: imdb_id, dtype: object

# 11. Какого жанра фильмов больше всего?
Варианты ответов:

1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [740]:
genres = split('''
Action
Adventure
Drama
Comedy
Thriller
''')

df = get_data()
print(len(df))
print(Counter(flatten(df.genres)).most_common(1)[0])

answer_ls[10] = 3

1890
('Drama', 782)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:

1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [741]:
df = get_data()
df = df[df.profit > 0]

print(len(df))
print(Counter(flatten(df.genres)).most_common(1)[0])

answer_ls[11] = 1

1478
('Drama', 560)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:

1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [742]:
df = get_data()

print(Counter(df.director).most_common(1)[0])

answer_ls[12] = 3

('Steven Soderbergh', 13)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:

1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [743]:
df = get_data()
df = df[df.profit > 0]

print(Counter(df.director).most_common(1)[0])

answer_ls[13] = 4

('Ridley Scott', 12)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:

1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [771]:
df = get_data()

d = df.groupby(by='director', sort=False)
print(d.profit)

answer_ls[14] = ''

AttributeError: Cannot access attribute 'profit' of 'DataFrameGroupBy' objects, try using the 'apply' method

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:

1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [745]:
df = get_data()

# print(Counter(flatten(df.cast)).most_common(1)[0])


answer_ls[15] = ''

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:

1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [746]:
df = get_data()
df = df[df.release_year == 2012]

# print(df)

answer_ls[16] = ''

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:

1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [747]:
df = get_data()
df = df[df.budget > df.budget.mean()]

print(Counter(flatten(df.cast)).most_common(1)[0])

answer_ls[17] = 3

('Matt Damon', 18)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:

1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [748]:
df = get_data()
df.cast = df.cast.apply(pd.Series)
df = df[df.cast.isin(['Nicolas Cage'])]
print(Counter(flatten(df.genres)).most_common(1)[0])

answer_ls[18] = 2

('Action', 16)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:

1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [749]:

answer_ls[19] = ''

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:

1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [750]:

answer_ls[20] = ''

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:

1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [751]:

answer_ls[21] = ''

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:

1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [752]:

answer_ls[22] = ''

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [753]:
ids = get_ids('''
K-19: The Widowmaker tt0267626
Next tt0435705
Twisted tt0315297
The Love Guru tt0811138
The Fighter tt0964517
''')
df = get_data(select(ids))
print(df.loc[df.profit.idxmin()].imdb_id)

answer_ls[23] = 1

tt0267626

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:

1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [754]:
df = get_data()



answer_ls[24] = ''

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:

1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [755]:

answer_ls[25] = ''

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:

1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [756]:

answer_ls[26] = ''

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:

1. 345
2. 450
3. 478
4. 523
5. 381

In [757]:

answer_ls[27] = ''

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:

1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [758]:

answer_ls[28] = ''

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:

1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [759]:

answer_ls[29] = ''

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:

1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [760]:

answer_ls[30] = ''

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:

1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [761]:

answer_ls[31] = ''

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:

1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [762]:

answer_ls[32] = ''

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:

1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [763]:

answer_ls[33] = ''

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:

1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [764]:

answer_ls[34] = ''

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:

1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [765]:

answer_ls[35] = ''

# Submission

36

In [766]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id Answer
0    1      4
1    2      2
2    3      3
3    4      2
4    5      1
5    6      5
6    7      2
7    8      1
8    9      4
9   10      5
10  11      3
11  12      1
12  13      3
13  14      4
14  15
15  16
16  17
17  18      3
18  19      2
19  20
20  21
21  22
22  23
23  24      1
24  25
25  26
26  27
27  28
28  29
29  30
30  31
31  32
32  33
33  34
34  35
35  36